.topbar
  background  : black
  font-family : 'Open Sans' sans-serif
  position: absolute
  right: 0px
  top: 0px
  text-align: center
  text-shadow: none
  width: 400px

.zooniverse-language-icon
  color: white

.topbar  a
  color: white

.topbar span
  color: white
